---
export interface Props {
  index: number;
  appId: string;
  title: string;
  appDir: string;
}

const { index, appId, title, appDir } = Astro.props;

const App = await import(`../apps/${appDir}/index.astro`).then(
  (a) => a.default
);
---

<div id={String(index)} data-app-id={appId}>
  <div id={appId} class="app-icon aspect-square w-10 bg-yellow-100"></div>
  <span>{title}</span>

  <div
    id={`${appId}-container`}
    class="hidden border bg-fuchsia-50 absolute w-60 h-60"
  >
    <div id={`${appId}-container-bar`} class="h-5 bg-blue-50">title bar</div>
    <App />
  </div>
</div>
